:root{
    --text-color:#f0f4f5;
    --logo-color:#416389;
    --background-color:#00aaff;
    --accent-color: #00ffff;
}
body{
    background-color: #D6EAF8;
    -webkit-text-size-adjust: 100%;
}

body{
    margin: 0;
}
a {
    text-decoration: none;
    color : var(--text-color);
}
.navbar{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: var(--background-color);
    padding: 8px 12px;
}

.navbar__logo{
    font-size: 24px;
    color: var(--text-color);
}

.navbar__logo i{
    color:var(--logo-color);
}

.navbar__menu{
    display: flex;
    list-style: none;
    color: var(--text-color);
    padding-left: 0;
}

.navbar__menu li{
    padding: 8px 12px;
}
.navbar__menu li:hover{
    background-color: var(--accent-color);
    border-radius: 4px;
}

.navbar__links{
    list-style: none;
    color: var(--text-color);
    display:flex;
    padding-left: 0;
}

.navbar__links li{
    padding: 8px 12px;
}

.navbar__toggleBtn{
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color:var(--logo-color);
}

.intro{
    width:700px;
}

.title {
    position: relative;
    text-align: center;
    color:var(--logo-color);
}

.Input__list{
    text-align: center;
    margin-left: auto; 
    margin-right: auto; 
    font-weight: bold; 
    font-size: 1.5em;
    line-height: 1.8em; 
    color: var(--logo-color);
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}
.Reservation__Input__list{
    text-align: center;
    margin-left: auto; 
    margin-right: auto; 
    font-weight: bold; 
    font-size: 1.5em;
    line-height: 1.8em; 
    color: var(--logo-color);
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.Btn__list{
    text-align: center;
    margin-left: auto; 
    margin-right: auto;
    line-height: 5em;   
    columns: 4;
    -webkit-columns: 4;
    -moz-columns: 4;
}

.Dial__list{
    text-align: center;
    margin-left: auto; 
    margin-right: auto;
    line-height: 5em;   
}

.input_t{
    position: relative;
    width:200px;
    height: 30px;
    background-color: var(--background-color);
    border:3px solid var(--logo-color);
}

.input_n{
    position: relative;
    width:200px;
    height: 30px;
    background-color: var(--accent-color);
    border:3px solid var(--logo-color);
}

#Btn_set0{
    width:150px;
    height: 50px;
    font-size: 24px;
    color: var(--text-color);
    background-color: var(--logo-color);
    position: absolute;
    top: 0px;
    right: 110px;
    
}

#Btn_set0:hover{
    background-color: var(--accent-color);
}

#Btn_set1{
    width:150px;
    height: 50px;
    font-size: 24px;
    color: var(--text-color);
    background-color: var(--logo-color);
    position: absolute;
    top: 0px;
    right: 110px;
    
}

#Btn_set1:hover{
    background-color: var(--accent-color);
}

#work_Btn{
    width:150px;
    height: 50px;
    font-size: 24px;
    color: var(--text-color);
    background-color: var(--logo-color);
    position: absolute;
    top: 0px;
    right: 110px;
}

#work_Btn:hover{
    background-color: var(--accent-color);
}

.control_Btn{
    width:200px;
    height: 60px;
    font-size: 30px;
    color: var(--text-color);
    background-color: var(--logo-color);
}

.control_Btn:hover{
    background-color: var(--accent-color);
}

.machine{
    width:130px;
    height: 30px;
    border:3px solid var(--logo-color);
}

.ChooseSet{
    width:130px;
    height: 30px;
    border:3px solid var(--logo-color);
}

.device{
    text-align: center;
    font-size: 1.5em;
    font-weight: bold; 
    color: var(--logo-color);
}

.device1{
    text-align: center;
    font-size: 1.5em;
    font-weight: bold; 
    color: var(--logo-color);
}


.product-title {
    margin:auto;
    text-align:center;
    display:table;
    border:1px solid #cecece;
    width:320px;
    height:180px;
}

.product-img-div {
    display:table-cell;
    vertical-align:middle;
}

.product-img {
    max-width:320px;
    max-height:180px;
}

.Connection_Status{
    text-align: center;
    font-size: 0.8em;
    font-weight: bold; 
    color: var(--logo-color);
}

.Work_Status{
    text-align: center;
    font-size: 0.8em;
    font-weight: bold; 
    color: var(--logo-color);
}

.graph{
    max-width:600px;
    max-height:400px;
    margin:auto;
    text-align: center;
    font-size: 0.8em;
    font-weight: bold; 
    color: var(--logo-color);
}
.graph__title{
    text-align: left;
    font-size: 1.5em;
    font-weight: bold; 
    color: var(--logo-color);
}

.rotate-container {
    position: relative;
    width:200px;
    height:200px;
    margin: auto;
  }
  
  .rotate-image {
    position: relative;
    width:100%;
    height:100%;
    object-fit:cover;
    margin: auto;
    cursor: pointer;
  }



@media screen and (max-width: 900px){
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }

    .navbar__menu{
        display:none;
        flex-direction: column;
        align-items: center;
        width:100%;
    }

    .navbar__menu li{ 
        width: 100%;
        text-align: center;
    }

    .navbar__links{
        display:none;
        justify-content: center;
        width: 100%;
    }

    .navbar__toggleBtn{
        display:block;
    }
    
    .navbar__menu.active,
    .navbar__links.active {
        display:flex;
    }

    .intro{
        width:100%;
    }

    .title {
        color:var(--logo-color);
        position: relative;
        text-align: left;
        left:32px
    }

    .Input__list{
        text-align:left;
        font-weight: bold; 
        font-size: 1.2em;
        line-height: 1.3em; 
        color: var(--logo-color);
        columns: 1;
        -webkit-columns: 1;
        -moz-columns: 1;
    }

    .Reservation__Input__list{
        text-align:left;
        font-weight: bold; 
        font-size: 1.2em;
        line-height: 1.3em; 
        color: var(--logo-color);
        columns: 1;
        -webkit-columns: 1;
        -moz-columns: 1;
    }

    .Btn__list{
        text-align: center;
        margin-left: auto; 
        margin-right: auto;
        line-height: 5em;   
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
    }

    .Dial__list{
        text-align: center;
        margin-left: auto; 
        margin-right: auto;
        line-height: 5em;   
    }

    .input_t{
        width:170px;
        height: 20px;
        background-color: var(--background-color);
        border:3px solid var(--logo-color);
    }
    
    .input_n{
        width:170px;
        height: 20px;
        background-color: var(--accent-color);
        border:3px solid var(--logo-color);
    }

    #Btn_set0{
        width:100px;
        height: 40px;
        font-size: 20px;
        color: var(--text-color);
        background-color: var(--logo-color);
        position: relative;
        top: 0px;
        left: 150px;
    }
    #Btn_set1{
        width:100px;
        height: 40px;
        font-size: 20px;
        color: var(--text-color);
        background-color: var(--logo-color);
        position: relative;
        top: 0px;
        left: 150px;
    }

    #work_Btn{
        width:100px;
        height: 40px;
        font-size: 20px;
        color: var(--text-color);
        background-color: var(--logo-color);
        position: relative;
        top: 0px;
        left: 120px;
    }

    .control_Btn{
        width:120px;
        height: 40px;
        font-size: 12px;
    }

    .machine{
        width:110px;
        height: 20px;
        border:3px solid var(--logo-color);
    }

    .ChooseSet{
        width:110px;
        height: 20px;
        border:3px solid var(--logo-color);
    }

    .device{
        text-align: left;
        margin-left: 40px;
        font-size: 1.5em;
        font-weight: bold; 
        color: var(--logo-color);
    }
    .device1{
        text-align: left;
        margin-left: 40px;
        font-size: 1.5em;
        font-weight: bold; 
        color: var(--logo-color);
    }
    .product-title {
        margin:auto;
        text-align:center;
        display:table;
        border:1px solid #cecece;
        width:320px;
        height:180px;
    }
    
    .product-img-div {
        display:table-cell;
        vertical-align:middle;
    }
    
    .product-img {
        width:320px;
        height:180px;
        max-width:320px;
        max-height:180px;
    }

    .graph{
        max-width:350px;
        max-height:400px;
        margin:auto;
        text-align: center;
        font-size: 0.8em;
        font-weight: bold; 
        color: var(--logo-color);
    }

    .rotate-container {
        width:200px;
        height:200px; 
        margin: auto;
      }
      
    .rotate-image {
        width:100%;
        height:100%;
        object-fit:cover;
        margin: auto;
        cursor: pointer;
      }
}